* {
  box-sizing: border-box;
}
/*Creating a flexbox, making it stick to the top of the page, and styling it.*/
html,
body,
.page {
  height: 100%;
}
body {
  overflow: hidden;
  font-family: sans-serif;
  background-color: darkslategrey;
  color: white;
  line-height: 1.5;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.page-header {
  flex: 0 0 auto;
  background-color: black;
  line-height: 2.5em
}
.page-content {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}
.flexbox {
  text-decoration: none;
  color: deepskyblue;
}
a:hover {
  color: white;
}
/*Media Queries*/
/*=============*/

@media (min-width: 769px) {
    .page-content {
      margin: 0 auto;   /* These lines create a wrapper using the <div> element*/
      width: 70%        /*=========================================================*/
    }
}
