* {
  box-sizing: border-box;
}

/*Creating a flexbox, making it stick to the bottom of the browser toolbar, and styling it.*/

html,
body,
.page {
  /* height: 100%; /*sets the height of the html, body, and the page class too 100%*/ */
}
body {
  font-family: sans-serif; /* changes font to the next available one, in this order*/
  background-color: darkslategrey; /* changes the color of the page to darkslategrey*/
  color: white; /*changes the color of the text on the page to white*/
  line-height: 1.5; /*increases line height by .5 to give some breathing room*/
  width: 100%;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column; /* keeps the contents in a column*/
  align-items: stretch; /* stretches the contents acrost the available space*/
}
.page-header {
  display: flex;
  flex-direction: row;
  background-color: black; /* changes the color of the flexbox to black*/
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 100;
}
.page-content {
  flex: 1 1 auto;
  position: relative; /* makes the position of the content dependant on the position of another*/
  overflow-y: auto; /* gives the scrolling ability to the content of the page */
  margin-top: 80px;
  width: 100%;
}
.flexbox {
  text-decoration: none; /* gets rid of the underline on the links */
  color: deepskyblue; /* changes the color of the text in the flexbox to deepskyblue*/
}
a:hover {
  color: white; /* changes the color of links to white when cursored over*/
}
header {
  text-align: center; /* aligns the text in the header to the center*/
  margin-bottom: -20px /* gets rid of the gap on the bottom of the header*/
}
.main-nav li {
  list-style: none; /* gets rid of the browser default list style (bullits)*/
  display: inline-block; /* changes the behavior of the element to inline block*/
  margin-right: 12px /* adds space between main nav and the edge of the page*/
}
.name {
  text-align: center;
  margin: -5px 0 -20px 0
}

/*Setting the layout of the top of the home page*/

#Main-header {
  text-align: center;
  color: deepskyblue;
}
figcaption {
  position: absolute;
  bottom: 0;
  right: 16em;
  text-align: right;
  width: 100%
}
figure {
  position: relative;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.p2 {
  max-width: 60%;
}

/*Media Queries*/
/*=============*/

@media (min-width: 769px) {
    .page-content {
      margin: 0 auto;   /* These lines create a wrapper using the <div> element*/
      width: 70%        /* Only if the browser size is larger than 769px=======*/
    }
    .name {
      /* float: left; */
      margin: 5px 0 0px 0
    }
    header {
      float: right;

    }
    .page-header {
      line-height: 2.5em
    }
    .col {
      float: left;
      padding-left: 1em;
      padding-right: 1em;
    }
    .p1 {
      width: 40%
    }
    .p2 {
      max-width: 60%
    }
    figcaption {
      right: 3em;
    }
}
